@tailwind base;
@tailwind components;
@tailwind utilities;

.home
{
    background-image: url(./Assets/Images/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
button:disabled 
{
    opacity: 0.5;
    cursor: not-allowed;
}